// ======================================
//  Structure
// ======================================

#page {
    background-color: var(--color-bg);
}

.margin-wrapper {
    margin: auto;
    padding: 50px 0;
    width: 95%;
    max-width: 1400px;
}

#site-content,
.site-area {
    padding-left: calc(var(--sidebar-width-closed) + 30px);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}


#primary {
    max-width: 1400px;
    margin: auto;

    &.post-main {
        margin-top: 100px;
    }
}

.grid-cards-compact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-cards-std {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.col-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 0px;
}

.col-filled {
    background-color: var(--color-bg-accent-1);
    padding: 20px;
    border-radius: var(--corner-m);
    margin-bottom: 10px;

    h4 {
        margin: 0 0 20px 0;
    }
}

ul.table {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        border-top: var(--border-std);

        &:first-child {
            border-top: none;
        }

        .cell {
            padding: 20px;
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
        }

        &.header {
            background-color: var(--color-bg-accent-1);
            border-radius: var(--corner-sm) var(--corner-sm) 0 0;
            p {
                font-weight: 700;
            }
        }
    }
}

///////////////////////////
// Focus on sibling on hover:
///////////////////////////
.fade-out-siblings {
    pointer-events: none;
}

.fade-out-siblings > * {
    pointer-events: auto;
    transition: var(--transition-speed-std);
}

.fade-out-siblings:hover > * {
    opacity: 0.6;
}

.fade-out-siblings:hover > *:hover {
    opacity: 1;
}

///////////////////////////
// Sidebars
///////////////////////////

.sidebar-inner-card {
    border: var(--border-std);
    border-radius: var(--corner-sm);
    margin-bottom: 10px;

    .inner-card-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-bg-accent-3);
        border-radius: var(--corner-sm) var(--corner-sm) 0 0;
        border-bottom: var(--border-std);
        padding: 10px;

        p {
            margin: 0;
            line-height: 1.5;
        }

        i {
            font-size: 25px;
            margin-right: 10px;
        }
    }

    p.sm {
        padding: 0 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 10px;

        a {
            background-color: var(--color-bg);
            border: var(--border-std);
            padding: 10px;
            border-radius: var(--corner-sm);
            margin-bottom: 5px;
            font-weight: 400;

            &:last-child {
                margin-bottom: 0;
            }

            i {
                font-weight: bold;
                margin-right: 5px;
            }
        }

        p {
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
                margin-right: 5px;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// ======================================
//  Tags
// ======================================

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: inline-flex;
    background-color: var(--color-bg-accent-1);
    color: var(--color-text);
    padding: 5px 10px;
    border-radius: var(--corner-sm);
    margin: 5px 5px 5px 0;
    font-weight: 500;
    align-items: center;

    i {
        margin-right: 0.25em;
        font-size: 20px;
    }

    &.success {
        color: var(--color-success);
        background-color: var(--color-success-accent);
    }

    &.error {
        color: var(--color-error);
        background-color: var(--color-error-accent);
    }

    &.caution {
        color: var(--color-caution);
        background-color: var(--color-caution-accent);
    }

    &.notification {
        color: var(--color-notification);
        background-color: var(--color-notification-accent);
    }
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    color: #ffffff;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 50px;
    min-width: 20px;
}

// ======================================
//  Tooltips
// ======================================

.tooltip {
    position: relative;
}
.tooltip:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:before {
    background-color: var(--color-text);
    color: var(--color-card);
    content: attr(data-title);
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    top: -30px;
    letter-spacing: 0.005em;
    white-space: nowrap;
    transform: scale3d(0.2, 0.2, 1);
    transition: all 0.2s ease-in-out;
    border-radius: var(--corner-sm);
}

.tooltip:hover:before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

// ======================================
//  Helper Classes
// ======================================

// Alignment: 
.text-center {
    text-align: center;
}

// Margin:

.margin-0 {
    margin: 0;
}

.margin-b-1x {
    margin-bottom: 5px;
}

.margin-b-2x {
    margin-bottom: 10px;
}

.margin-b-3x {
    margin-bottom: 15px;
}

.margin-b-4x {
    margin-bottom: 20px;
}

.margin-b-5x {
    margin-bottom: 25px;
}

.margin-t-1x {
    margin-top: 5px;
}

.margin-t-2x {
    margin-top: 10px;
}

.margin-t-3x {
    margin-top: 15px;
}

.margin-t-4x {
    margin-top: 20px;
}

.margin-t-5x {
    margin-top: 25px;
}

// Padding:

.padding-1x {
    padding: 5px;
}

.padding-2x {
    padding: 10px;
}

.padding-3x {
    padding: 15px;
}

.padding-4x {
    padding: 20px;
}

.padding-b-1x {
    padding-bottom: 5px;
}

.padding-b-2x {
    padding-bottom: 10px;
}

.padding-b-3x {
    padding-bottom: 15px;
}

// Borders:

.padding-b-4x {
    padding-bottom: 20px;
}

.border {
    border: var(--border-std);
}

.border-t {
    border-top: var(--border-std);
}

.border-b {
    border-bottom: var(--border-std);
}

// Mobile Show/Hide Element: 

.show-768{
    display: none;
}


// ======================================
//  WP Overrides
// ======================================

.wp-block-separator {
    border: none;
}

// ======================================
//  404
// ======================================

.error-404 {
    display: flex;
    justify-content: center;

    span {
        background-color: var(--color-x-light);
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px auto;
        border-radius: var(--corner-card);

        h1 {
            margin: 0;
        }

        i {
            font-size: 80px;
        }
    }
}

// ======================================
//  Password Protected
// ======================================

.password-protected {
    display: inline-flex;
    background-color: var(--color-text);
    color: var(--color-bg);
    height: 2em;
    width: 2em;
    font-size: 0.5em;
    padding: 1em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

// ======================================
//  Dark Mode
// ======================================

.dark-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    opacity: 0.25;
    transition: var(--transition-speed-std);

    p {
        opacity: 0;
        transition: var(--transition-speed-std);
    }
}

.site-header.open {
    .dark-mode {
        opacity: 1;
        p {
            opacity: 0.5;
        }
    }
}

// ======================================
// Responsive Media Queries
// ======================================

@media (max-width: 1400px) {
    .grid-cards-std,
    .grid-cards-compact {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    .col-2-1{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;

        &.reverse-stack{
            .sidebar{
                order: -1;
            }
        }
    }
}

@media (max-width: 1024px) {
    #site-content,
    .site-area {
        padding-left: 30px;
    }
}

@media (max-width: 850px) {
    .grid-cards-std,
    .grid-cards-compact {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    #site-content {
        padding: 20px;
    }

    .show-768{
        display: block;
    }

    .hide-768{
        display: none;
    }

    .fade-out-siblings:hover > * {
        opacity: 1;
    }
}
