///////////////////////////
// Base Post Styles
///////////////////////////

hero.standard.post {
    display: flex;
    width: 100%;
    height: 450px;
    border-radius: var(--corner-m);
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow-std);

    .post-details {
        position: absolute;
        top: 20px;
        width: 40%;
        height: auto;
        padding: 30px 30px 75px 30px;
        margin: 0 0 20px 20px;
        background: var(--color-card);
        border-radius: var(--corner-sm);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: var(--shadow-std);

        h1 {
            margin: 0;
            margin-bottom: 20px;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 90%;
            width: 100%;
            padding: 10px 30px;
            border-top: var(--border-std);

            .actions {
                display: flex;
                flex-direction: row;

                a {
                    margin-left: 15px;
                }

                i {
                    font-size: 24px;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    &.video {
        video {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}

.similar-projects {
    a {
        color: var(--color-text);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: var(--color-bg);
        border-radius: var(--border-std);
        border-radius: var(--corner-sm);
        margin-top: 20px;

        p,
        h5 {
            margin: 0;
        }

        h5 {
            display: flex;
            align-items: center;

            .password-protected {
                margin-right: 5px;
            }
        }

        .date {
            color: var(--color-text);
            opacity: 0.5;
            transition: var(--transition-speed-std);
            transition-delay: 0s;
        }

        i:not(.isax-lock) {
            color: white;
            background-color: var(--color-btn);
            padding: 5px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            transform: scale(0.8);
            opacity: 0;
            transition: var(--transition-speed-std);
        }

        &:hover {
            i {
                transform: scale(1);
                opacity: 1;
            }

            .preview-images {
                li {
                    transform: scale(1);

                    &:nth-child(1) {
                        transition-delay: 0.5s;
                    }

                    &:nth-child(2) {
                        transition-delay: 0.75s;
                    }

                    &:nth-child(3) {
                        transition-delay: 1s;
                    }
                }
            }

            .date {
                opacity: 0;
                transition-delay: 0.5s;
            }
        }
    }

    .preview-images {
        margin: 0;
        padding: 0;
        position: absolute;

        li {
            display: block;
            height: 75px;
            width: 75px;
            background-size: cover;
            background-position: center;
            position: absolute;
            border-radius: var(--corner-sm);
            box-shadow: var(--shadow-x-strong);
            transform: scale(0);
            transition: var(--transition-speed-std);
            transition-delay: 0s;

            &:nth-child(1) {
                top: -90px;
            }

            &:nth-child(2) {
                left: 60px;
                top: -120px;
                width: 60px;
                height: 60px;
            }

            &:nth-child(3) {
                top: -75px;
                left: 110px;
                height: 50px;
                width: 50px;
            }
        }
    }
}

.side-actions {
    display: flex;
    justify-content: space-around;

    .icon i {
        font-size: 24px;
    }

    .btn.icon.light {
        background-color: transparent;
    }
}

///////////////////////////
// Galleries
///////////////////////////

.gallery {
    display: flex;
    padding: 0;
    margin: 75px 0 0 0;
    flex-wrap: wrap;

    img {
        height: auto;
        max-width: 100%;
    }

    .gallery_image {
        border-radius: var(--corner-sm);
        box-shadow: var(--shadow-std);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
}

.grid-item {
    width: 20%;
    margin-bottom: 20px;
}

//////////////////////////////////////////////////////
// Post Nav (Individual prefooter)
//////////////////////////////////////////////////////

#postnav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: var(--border-std);
    padding-top: 100px;

    .nav-items {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
    }

    a {
        display: flex;
        color: var(--color-text);
        align-items: center;

        h5,
        p {
            margin: 0;
        }

        i {
            font-size: 25px;
            background-color: var(--color-bg-accent-2);
            height: 40px;
            min-width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--color-btn);
            transition: var(--transition-speed-std);
        }

        &:first-child {
            i {
                margin-right: 15px;
            }
        }

        &:last-child {
            text-align: right;

            i {
                margin-left: 15px;
            }
        }

        &:hover {
            i {
                color: #ffffff;
                background-color: var(--color-btn);
                transform: scale(1.1);
            }
        }
    }
}

//////////////////////////////////////////////////////
// Posts Nav (Archive prefooter)
//////////////////////////////////////////////////////

#pagination {
    border-top: var(--border-std);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-top: 100px;

    .nav-links {
        display: flex;
        width: 80%;
        justify-content: space-evenly;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-text);
            font-size: 20px;
            font-weight: 500;

            i {
                font-size: 25px;
                background-color: var(--color-bg-accent-2);
                height: 40px;
                min-width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--color-btn);
                transition: var(--transition-speed-std);
                margin: 0 10px;
            }

            &:hover {
                i {
                    color: #ffffff;
                    background-color: var(--color-btn);
                    transform: scale(1.1);
                }
            }
        }
    }
}

//Responsive Media Queries

@media (max-width: 1300px) {
    hero.standard.post {
        .post-details {
            width: 50%;
        }
    }

    #pagination {
        .nav-links {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    hero.standard.post {
        .post-details {
            width: 60%;
        }
    }

    .grid-item {
        width: 30%;
    }

    #postnav {
        a{
            &:first-child{
                margin-right: 10px;
            }

            &:only-child{
                margin-right: 0;
            }
        }
        .nav-items {
            width: 90%;
        }
    }
}

@media (max-width: 768px) {
    hero.standard.post {
        .post-details {
            width: calc(100% - 40px);
            top: inherit;
            bottom: 0;
        }
    }
}

@media (max-width: 420px) {
    .grid-item {
        width: 45%;
    }
}
